.profile {
    width: 100vw;
    height: 100%;
    background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 31%, rgba(235,235,235,1) 100%);
    text-align: left;
    justify-items: center;
    padding: 110px 30px 0px 30px;
}


@media (min-width: 800px) {
    .profile {
        display: none;
    }
}
@media (max-width: 799px) {
    .profile {
        display: flex;
    }
}

.left {
    z-index: 2;
}

.desc h1 {
    font-size: 3.6rem;
    font-weight: bold;
    margin: 0 0 20px;
    padding-bottom: 4px;
}

.desc p {
    font-size: 1.4rem;
    margin-bottom: 2px;
    font-weight: 500;
}

.profilePic {
    position: absolute;
    top: 110px;
    right: 30px;
    width: 30vw;
    height: 40vw;
    object-fit: cover;
    transform: scaleX(-1);
}

.line {
    width: 80px;
    height: 8px;
    background-color: var(--main);
    margin: 24px 0;
}

.link {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-right: 10px;
    object-fit: contain;
    cursor: pointer;
    filter: grayscale(0.2);
    transition: ease 0.05s;
}

.border {
    background-color: #fff;
    border: 2px solid #999;
}

.sample {
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
}

.spacing {
    font-size: 1.4rem;
    letter-spacing: 3.5px;
    margin: 40px 0 20px;
}

.sample audio {
    border: 2px solid #777;
    border-radius: 999px;
    height: 45px;
    margin-bottom: 15px;
}

.sample audio::-webkit-media-controls-panel {
    background-color: var(--white);
}

.sample p:last-child {
    text-align: right;
    cursor: pointer;
}

.pic {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: -200px;
    transform: scaleX(-1);
    /* filter: grayscale(0.3); */
}

.sign {
    /* visibility: hidden; */
    position: absolute;
    bottom: 0px;
    right: 125px;
}