.profile {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 31%, rgba(235,235,235,1) 100%);
    align-items: center;
    text-align: left;
}

@media (min-width: 800px) {
    .profile {
        display: flex;
    }
}
@media (max-width: 799px) {
    .profile {
        display: none;
    }
}

.left {
    margin-left: 20%;
    z-index: 2;
}

.desc h1 {
    font-size: 4.2rem;
    font-weight: bold;
    margin: 0 0 30px;
    padding-bottom: 4px;
}

.desc p {
    font-size: 1.6rem;
    margin-bottom: 2px;
    font-weight: 500;
}

.line {
    width: 80px;
    height: 8px;
    background-color: var(--main);
    margin: 28px 0;
}

.link {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-right: 10px;
    object-fit: contain;
    cursor: pointer;
    filter: grayscale(1);
    transition: ease 0.05s;
}

.link:hover {
    filter: grayscale(0.2);
}

.border {
    border: 2px solid #999;
}

.sample {
    font-size: 1.6rem;
    font-weight: 500;
}

.spacing {
    font-size: 1.4rem;
    letter-spacing: 3.5px;
    margin: 50px 0 30px;
}

.sample audio {
    border: 2px solid #777;
    border-radius: 999px;
    height: 50px;
    margin-bottom: 15px;
}

.sample audio::-webkit-media-controls-panel {
    background-color: var(--white);
}

.sample p:last-child {
    text-align: right;
    /* padding-right: 20px; */
    cursor: pointer;
}

.pic {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: -200px;
    transform: scaleX(-1);
    /* filter: grayscale(0.3); */
}

.sign {
    /* visibility: hidden; */
    position: absolute;
    bottom: 0px;
    right: 125px;
}