.menu {
  color: var(--white);
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: fit-content;
  height: 36px;
  margin-bottom: 35px;
}

.menu:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -7px;
  left: 0;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.menu:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.profile {

}