.container {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.content {
    position: relative;
    width: 1296px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    /* background-color: #f2f2f4; */
    padding: 44px 0 32px;
    margin: 0 0 30px;
}

@media (max-width: 799px) {
    .content {
        max-width: 95%;
        width: fit-content;
    }
}

@media (min-width: 800px) and (max-width: 1299px) {
    .content {
        width: 95%;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.cards::after {
    content: '';
    flex: auto;
}