.container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}

.content {
    position: relative;
    text-align: center;
    width: 100%;
    height: fit-content;
    z-index: 2;
}

.blank {
    width: 100%;
    height: 15px;
}

.rear {
    position: relative;
    margin: 0 auto;
}

@media (max-width: 799px) {
    .rear {
        width: 100%;
    }

}

@media (min-width: 800px) {
    .rear {
        width: 1400px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
}

.youtube {
    width: 100%;
    height: 585px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.vertical {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: flex-end;
}