.container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /* margin-bottom: 100px; */
}

.gap {
    width: 100%;
    height: 10px;
}

.center {
    width: 1296px;
    margin: 0 auto;
}

@media (max-width: 799px) {
    .center {
        max-width: 95%;
        width: fit-content;
    }
}

@media (min-width: 800px) and (max-width: 1299px) {
    .center {
        width: 95%;
    }
}


/* ---------------- cut -------------------- */
.center {
    display: flex;
    justify-content: space-between;
    margin: 3.6rem auto;
}

.hash {
    width: 100%;
}


@media (max-width: 799px) {
    .center {
        width: 95%;
        margin-left: calc(1.5% + 10px);
        margin-top: 5rem;
    }
    
    .banner {
        height: 70vw;
        padding-bottom: 5vw;
    }
}

@media (min-width: 800px) and (max-width: 1299px) {
    .center {
        width: 95%;
    }
    
    .banner {
        height: 60vw;
        padding-bottom: 34px;
    }
    
    .hash {
        padding: 40px 0;
    }
}

@media (min-width: 1300px) {
    .center {
        width: 1296px;
    }
    
    .banner {
        height: 820px;
        padding-bottom: 34px;
    }

    .hash {
        padding: 45px 0;
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 0 auto;
}


.main {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin: 0;
}

.buttons {
    width: fit-content;
    margin-right: 10px;
}

.buttons > button {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 2.8rem;
    background-color: #00000000;
    border: 2px solid var(--main);
    margin: 0 5px;
    font-size: 1.5rem;
    transition: ease 0.2s;
}

.buttons > button:disabled {
    border: 2px solid #33333370;
}

.buttons svg {
    height: 1.6rem;
}

.items {
    width: 100%;
    height: 317px;
    list-style: none;
    padding-left: max(1.5%, calc(50% - 658px));
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
}

@media screen and (max-width: 429px) {
    .items {
        height: calc((97vw - 20px) * 9 / 16 + 70px);
    }
}

.items::-webkit-scrollbar{
    display:none;
}

.item {
    display: inline-block;
    position: absolute;
    width: 436px;
    padding: 0 10px;
    transition: 0.4s ease-in-out;
}

.main a {
    top: -70px;
}

.carContainer > p {
    font-size: 1.6rem;
    text-align: right;
    cursor: pointer;
}