.cards {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
    .cards {
        justify-content: left;
    }
}
@media screen and (max-width: 799px) {
    .cards {
        justify-content: space-around;
    }
    .cards:last-child {
        justify-content: left;
    }
}