.cards {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 1296px) {
    .cards {
        justify-content: left;
    }
}
@media screen and (max-width: 1295px) {
    .cards {
        justify-content: space-around;
    }
    .cards:last-child {
        justify-content: left;
    }
}