.cards {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}
@media screen and (min-width: 1296px) {
    .cards {
        justify-content: center;
    }
}
@media screen and (max-width: 1295px) {
    .cards {
        justify-content: center;
    }
}