/* --------------global-------------- */

.card {
    position: relative;
    margin-right: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
    word-break: break-all;
}

.white {
    display: flex;
    text-align: left;
    width: 100%;
    height: fit-content;
    margin: 5px 0;
    box-sizing: border-box;
}

.card a {
    text-decoration: none;
    color: var(--main);
    margin: 0;
}

.card a:hover {
    color: var(--main);
}

.card img {
    object-fit: cover;
    /* border-radius: 15px; */
}

/* ---------------home--------------- */

.homeCard {
    max-width: 320px;
    margin: 0;
}

.homeImg {
    width: 320px;
    height: 180px;
}

.homeH4 {
    font-size: 20px;
    margin: 8px 0;
}

.homeA {
    font-size: 14px;
}

.homeWhite {
    padding: 0 15px;
    min-height: 90px;
}

/* --------------seeall-------------- */

@media screen and (max-width: 799px) {    
    .allImg {
        width: 170px;
        height: 97px;
    }
    
    .allH4 {
        font-size: 16px;
        margin: 0;
    }
    
    .allA {
        font-size: 14px;
    }
    
    .allWhite {
        padding: 5px 10px;
        min-height: 50px;
    }
    
}
@media screen and (min-width: 800px) {
    .allCard {
        max-width: 210px;
    }
    
    .allImg {
        width: 210px;
        height: 120px;
    }
    
    .allH4 {
        font-size: 16px;
        margin: 0;
    }
    
    .allA {
        font-size: 14px;
    }
    
    .allWhite {
        padding: 5px 10px;
        min-height: 70px;
    }
    
}