.card {
    position: relative;
}

.card img {
    width: 240px;
    height: 320px;
    background: #fff;
}

.hoverInfo {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 0 15px;
    bottom: 0;
    left: 0;
    background: #fefefed0;
    text-align: left;
    width: 240px;
    height: 80px;
}

.hoverInfo h4 {
    font-size: 20px;
    font-weight: bold;
}

.hoverInfo a {
    text-decoration: none;
    color: var(--main);
    font-size: 14px;
    margin: 0;
}