/* --------------global-------------- */

.card {
    position: relative;
    word-break: break-all;
}

.content {
    position: relative;
}

.white {
    display: flex;
    text-align: left;
    width: 100%;
    height: fit-content;
    margin: 5px 0;
    box-sizing: border-box;
}

.first {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 10px 0;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.second {
    width: 100%;
    font-size: 12px;
    margin-bottom: 0;
    line-height: 18px;
}

.cover {
    position: absolute;
    top: 0;
    object-fit: cover;
    cursor: pointer;
}

.playButton {
    position: absolute;
    width: 6rem;
    height: 6rem;
    padding-left: 0.5rem;
    border: 0.5rem solid #fff;
    border-radius: 999px;
    bottom: 1.5rem;
    right: 1.5rem;
}

.on {
    display: block;
    visibility: visible;
    z-index: 99;
}

.off {
    visibility: hidden;
}

@media screen and (max-width: 429px) {
    .content {
        height: calc((97vw - 20px) * 9 / 16);
    }

    .img {
        width: calc(97vw - 20px);
        height: calc((97vw - 20px) * 9 / 16);
    }
    
    .white {
        padding: 5px 10px;
        min-height: 50px;
    }
    
}

@media screen and (min-width: 430px) {
    .content {
        height: 234px;
    }

    .img {
        width: 416px;
        height: 234px;
    }
    
    .white {
        padding: 5px 10px;
        min-height: 70px;
    }
    
}