.main {
    width: 100%;
}

.play {
    position: absolute;
    width: 70px;
    height: 70px;
}

.intro {
    position: absolute;
    height: 40vh;
    text-align: left;
    margin-top: 28vh;
    margin-left: 330px;
    color: var(--main);
}

.intro h1 {
    font-size: 60px;
    line-height: 1.5;
    font-weight: 600;
}

.intro audio {
    width: 300px;
    height: 70px;
}

.tommy {
    position: absolute;
    height: 80vh;
    bottom: 15px;
    right: 400px;
}

.sig {
    position: absolute;
    bottom: 60px;
    right: 220px;
}