.navbar {
    position: fixed;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    top: 0;
    margin-bottom: 20px;
    padding: 20px 0;
    z-index: 3;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media (max-width: 799px) {
    .content {
        margin-left: 100px;
    }
}

@media (min-width: 800px) {
    .content {
        margin-left: 180px;
    }
}

.sub label {
    opacity: 0.5;
}

.sub label:hover {
    opacity: 1;
}

.menu {
    background-color: #fff;
    text-decoration: none;
    color: var(--main);
    margin-bottom: 10px;
    font-size: 16px;
    padding: 0 5px;
    margin: 5px 15px 0 0;
    /* transition: 0.1s; */
}

.menu:hover {
    cursor: pointer;
}

.navbar input {
    height: 0;
    width: 0;
    display: none;
}

.navbar input:checked + .menu {
    background-color: #b187c280;
    opacity: 1;
    border-radius: 100px;
}