.container {
    background-color: #f5f5f7;
}

.content {
    position: relative;
    width: 1296px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    /* background-color: #f2f2f4; */
    padding: 20px 0 30px;
    margin: 0 0 30px;
}

@media (max-width: 799px) {
    .banner {
        height: 70vw;
        padding-bottom: 5vw;
    }
    .content {
        max-width: 95%;
        width: fit-content;
    }
}

@media (min-width: 800px) and (max-width: 1299px) {
    .banner {
        height: 60vw;
        padding-bottom: 34px;
    }
    .content {
        width: 95%;
    }
}

@media (min-width: 1300px) {
    .banner {
        height: 820px;
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 0 auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto 0;
}

.cards::after {
    content: '';
    flex: auto;
}

.cards > div {
    margin: 8px;
}