.container {
    background-color: #f5f5f7;
}

@media (max-width: 799px) {
    .banner {
        height: 70vw;
        padding-bottom: 5vw;
    }
}

@media (min-width: 800px) and (max-width: 1299px) {
    .banner {
        height: 60vw;
        padding-bottom: 34px;
    }
}

@media (min-width: 1300px) {
    .banner {
        height: 820px;
        padding-bottom: 34px;
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 0 auto;
}