.container {
    width: 100%;
    height: fit-content;
    /* background-color: #f0f0f2; */
    line-height: 1;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
}

.content {
    padding: 2rem 5rem 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.fCard {
    /* border: 1px solid #333 */
    line-height: 20px;
    text-align: left;
}

.fCard h1 {
    color: #333;
    font-weight: bold;
}

.fCard p {
    color: #666;
    font-size: 1.4rem;
    margin: 0;
}

.right {
    text-align: right;
}