.App {
  text-align: center;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: var(--white);
}
.App::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}