body {
    scroll-behavior: smooth;
}

body > div {
    margin: 0 auto;
}

body > div::-webkit-scrollbar-track {
    color: salmon;
    visibility: hidden;
    opacity: 0;
  }

body p {
    cursor: default;
}

body > iframe {
    display: none;
}