@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

h1 {
  font-family: 'NanumSquare',san-serif;
}

body {
  overflow-x: hidden;
  color: #333;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main: rgb(63, 64, 59);
  --point: rgb(63, 64, 59);
  --point-sub: #BFB6A4;
  --content: #E9E8E8;
}