@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap);

h1 {
  font-family: 'NanumSquare', sans-serif;
}

body {
  overflow-x: hidden;
  color: #333;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans KR';
}

a {
  text-decoration: none;
}

:root {
  --white: #fefefe;
  --main: #333;
  --point: #F2C46D;
  --point-sub: #b187c2;
  --content: #f0f0f0;
}




